@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <div class="row">
                        <div class="span9">
                            <h2>Log In</h2><br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div id="note"></div>
                            <div id="">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Email:</label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                                </div>
                                                <label class="control-label" for="inputName">Password:</label>
                                                <div class="controls">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <input type="submit" class="button1" value="Log In" style="width: 100px; height: 50px" />
                                }
                            </div>
                            <p class="loginLinks">
                                @Html.ActionLink("Register A New User", "Register")
                            </p>
                            <p class="loginLinks">
                                @Html.ActionLink("Forget Your Password", "ForgotPassword")
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>