@model IEnumerable<StoreFront.DATA.EF.Image>

@{
    ViewBag.Title = "Images";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <h2>@ViewBag.Title</h2>

                    <p>
                        @Html.ActionLink("Create New", "Create", null, new { @class = "button1 noUnderLine" })
                    </p>
                    <table class="table">
                        <tr>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Image1)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.Image1)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ImageID }, new { @class = "button1 noUnderLine pull-right" })
                                    @Html.ActionLink("Details", "Details", new { id = item.ImageID }, new { @class = "button1 noUnderLine pull-right" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ImageID }, new { @class = "button1 noUnderLine pull-right" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>