@model StoreFront.DATA.EF.Category

@{
    ViewBag.Title = "Create";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <h2>@ViewBag.Title</h2>


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Category</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.MainCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    &nbsp; &nbsp; &nbsp;@Html.EditorFor(model => model.MainCategory, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MainCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChildCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    &nbsp; &nbsp; &nbsp;@Html.EditorFor(model => model.ChildCategory, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ChildCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                    <input type="submit" class="button1" value="Create" style="width: 100px; height: 50px" /><br />
                                </div>
                            </div>
                        </div>
                    }

                        <div>
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp;
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
            </div>
        </div>
    </div>
</div>