@using Microsoft.AspNet.Identity
@using StoreFront.DATA.EF
@{
    ViewBag.Title = "Floral Gifts & Collectibles";
}
@{
    int location = User.Identity.GetUserName().IndexOf("@");

    StoreFrontEntities db = new StoreFrontEntities();
    string userId = User.Identity.GetUserId();

    UserDetail currentUser = db.UserDetails.Find(userId);

    string userFN = "Guest";

    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
        Session["User"] = "Welcome: " + userFN;
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicon-16x16.png">
    @*<link rel="manifest" href="/site.webmanifest">*@



    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/camera.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/custom.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/touchTouch.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/css/isotope.css" type="text/css" media="screen">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!--jQuery DataTables-->
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Content/js/superfish.js"></script>

    <script type="text/javascript" src="~/Content/js/jquery.ui.totop.js"></script>

    <script type="text/javascript" src="~/Content/js/camera.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mobile.customized.min.js"></script>

    <script type="text/javascript" src="~/Content/js/touchTouch.jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Content/js/cform.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/eggplant/jquery-ui.css">


    <script>
        $(document).ready(function () {
            // camera
            $('#camera_wrap').camera({
                //thumbnails: true
                autoAdvance: true,
                mobileAutoAdvance: true,
                //fx					: 'simpleFade',
                height: '50%',
                hover: false,
                loader: 'none',
                navigation: false,
                navigationHover: false,
                mobileNavHover: false,
                playPause: false,
                pauseOnClick: false,
                pagination: true,
                time: 7000,
                transPeriod: 1000,
                minHeight: '350px'
            });

        }); //
        $(window).load(function () {
            //

        }); //
    </script>
    <!--[if lt IE 8]>
            <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
        <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>

<body class="main">
    <div id="main">

        <div class="top1">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="top1_inner">

                            <header>
                                <div class="logo_wrapper">
                                    <a href="@Url.Action("Index", "Home")" class="logo"><img src="~/Content/images/logo.png" alt=""></a>
                                    <br />
                                    @if (Session["User"] != null)
                                    {
                                        <span style="font-size: 24px;">@Session["User"].ToString()</span>
                                    }
                                </div>
                            </header>

                            <div class="search-form-wrapper clearfix">
                                <form id="search-form" action="~/Home/SearchResults" method="GET" accept-charset="utf-8" class="navbar-form">
                                    <input type="text" name="searchFilter" value='Search' onBlur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''" style="background-color: white; color: black;">
                                    <a href="#" onClick="document.getElementById('search-form').submit()"></a>
                                </form>
                            </div>

                            <div class="menu_wrapper">
                                <div class="arr_left"></div>
                                <div class="arr_right"></div>
                                <div class="navbar navbar_">
                                    <div class="navbar-inner navbar-inner_">
                                        <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu clearfix">
                                                @if (HttpContext.Current.Request.Url.AbsolutePath == "/")
                                                {
                                                    <li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                                                }

                                                @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Home/Products") ||
HttpContext.Current.Request.Url.AbsolutePath == "/Home/ProductsByCategory" || HttpContext.Current.Request.Url.AbsolutePath.Contains("/Home/ProductDetail"))
                                                {
                                                    <li class="sub-menu sub-menu-1 active">
                                                        <a href="@Url.Action("Products", "Home")">PRODUCTS</a>
                                                        <ul>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/1", "Home")">APPAREL</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/1", "Home")">BABY ITEMS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/2", "Home")">JACKETS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/3", "Home")">SHIRTS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/4", "Home")">VESTS</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/5", "Home")">COLLECTIBLES</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/5", "Home")">BIRD HOUSES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/6", "Home")">MYSTICAL</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/7", "Home")">STATUES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/8", "Home")">VASES</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/9", "Home")">GARDEN</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/9", "Home")">FOUNTAINS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/10", "Home")">OUT DOOR LIVING</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/11", "Home")">PLANTERS & STANDS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/12", "Home")">STEPPING STONES</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/13", "Home")">GIFTS</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/13", "Home")">CANDLES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/14", "Home")">FAITH INSPIRATION</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/15", "Home")">FRAGRANCES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/16", "Home")">FLOWERS</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/17", "Home")">HOME DECOR</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/17", "Home")">BATHROOM</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/18", "Home")">KITCHEN</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/19", "Home")">LAMPS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/20", "Home")">WALL DECOR</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="sub-menu sub-menu-1">
                                                        <a href="@Url.Action("Products", "Home")">PRODUCTS</a>
                                                        <ul>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/1", "Home")">APPAREL</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/1", "Home")">BABY ITEMS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/2", "Home")">JACKETS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/3", "Home")">SHIRTS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/4", "Home")">VESTS</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/5", "Home")">COLLECTIBLES</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/5", "Home")">BIRD HOUSES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/6", "Home")">MYSTICAL</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/7", "Home")">STATUES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/8", "Home")">VASES</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/9", "Home")">GARDEN</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/9", "Home")">FOUNTAINS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/10", "Home")">OUT DOOR LIVING</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/11", "Home")">PLANTERS & STANDS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/12", "Home")">STEPPING STONES</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/13", "Home")">GIFTS</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/13", "Home")">CANDLES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/14", "Home")">FAITH INSPIRATION</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/15", "Home")">FRAGRANCES</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/16", "Home")">FLOWERS</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="sub-menu sub-menu-2">
                                                                <a href="@Url.Action("ProductsByMainCategory/17", "Home")">HOME DECOR</a>
                                                                <ul>
                                                                    <li><a href="@Url.Action("ProductsByCategory/17", "Home")">BATHROOM</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/18", "Home")">KITCHEN</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/19", "Home")">LAMPS</a></li>
                                                                    <li><a href="@Url.Action("ProductsByCategory/20", "Home")">WALL DECOR</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                }

                                                @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/About")
                                                {
                                                    <li class="active">
                                                        @Html.ActionLink("ABOUT US", "About", "Home")
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        @Html.ActionLink("ABOUT US", "About", "Home")
                                                    </li>
                                                }

                                                @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/Services")
                                                {
                                                    <li class="active">@Html.ActionLink("SERVICES", "Services", "Home")</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink("SERVICES", "Services", "Home")</li>
                                                }

                                                @*<li><a href="index-4.html">prices</a></li>*@
                                                @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/Contact")
                                                {
                                                    <li class="active">@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                                                }

                                                @if (!Request.IsAuthenticated)
                                                {
                                                    if (HttpContext.Current.Request.Url.AbsolutePath == "/Account/Register")
                                                    {
                                                        <li class="active">@Html.ActionLink("REGISTER", "Register", "Account")</li>
                                                    }
                                                    else
                                                    {
                                                        <li>@Html.ActionLink("REGISTER", "Register", "Account")</li>
                                                    }
                                                }

                                                @Html.Partial("_LoginPartial")

                                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                                {
                                                    if (HttpContext.Current.Request.Url.AbsolutePath == "/UsersAdmin" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/RolesAdmin" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Categories" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Colors" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Departments" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Employees" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Images" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Products" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/ProductStatus" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Sizesn" ||
                                                        HttpContext.Current.Request.Url.AbsolutePath == "/Suppliers")
                                                    {
                                                        <li class="sub-menu sub-menu-1 active">
                                                            <a href="">ADMIN</a>
                                                            <ul>
                                                                <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
                                                                <li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
                                                                <li><a href="@Url.Action("Index", "Categories")">Categories</a></li>
                                                                <li><a href="@Url.Action("Index", "Colors")">Colors</a></li>
                                                                <li><a href="@Url.Action("Index", "Departments")">Departments</a></li>
                                                                <li><a href="@Url.Action("Index", "Employees")">Employees</a></li>
                                                                @*<li><a href="@Url.Action("Index", "Images")">Images</a></li>*@
                                                                <li><a href="@Url.Action("Index", "Products")">Products</a></li>
                                                                <li><a href="@Url.Action("Index", "ProductStatus")">Product Status</a></li>
                                                                <li><a href="@Url.Action("Index", "Sizes")">Sizes</a></li>
                                                                <li><a href="@Url.Action("Index", "Suppliers")">Suppliers</a></li>
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="sub-menu sub-menu-1">
                                                            <a href="">ADMIN</a>
                                                            <ul>
                                                                <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
                                                                <li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
                                                                <li><a href="@Url.Action("Index", "Categories")">Categories</a></li>
                                                                <li><a href="@Url.Action("Index", "Colors")">Colors</a></li>
                                                                <li><a href="@Url.Action("Index", "Departments")">Departments</a></li>
                                                                <li><a href="@Url.Action("Index", "Employees")">Employees</a></li>
                                                                @*<li><a href="@Url.Action("Index", "Images")">Images</a></li>*@
                                                                <li><a href="@Url.Action("Index", "Products")">Products</a></li>
                                                                <li><a href="@Url.Action("Index", "ProductStatus")">Product Status</a></li>
                                                                <li><a href="@Url.Action("Index", "Sizes")">Sizes</a></li>
                                                                <li><a href="@Url.Action("Index", "Suppliers")">Suppliers</a></li>
                                                            </ul>
                                                        </li>
                                                    }
                                                }

                                                @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("ShoppingCart"))
                                                {
                                                    <li class="nav-item active">
                                                        @{
                                                            Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> shoppingCart = (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];

                                                            int nbrItems = 0;

                                                            if (Session["cart"] != null)
                                                            {
                                                                foreach (var item in shoppingCart)
                                                                {
                                                                    nbrItems += item.Value.Qty;
                                                                }
                                                            }
                                                        }
                                                        <a href="@Url.Action("Index", "ShoppingCart")"><i class="fa fa-shopping-basket"></i><span class="cart-text">@nbrItems</span></a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item">
                                                        @{
                                                            Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> shoppingCart = (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];

                                                            int nbrItems = 0;

                                                            if (Session["cart"] != null)
                                                            {
                                                                foreach (var item in shoppingCart)
                                                                {
                                                                    nbrItems += item.Value.Qty;
                                                                }
                                                            }
                                                        }
                                                        <a href="@Url.Action("Index", "ShoppingCart")"><i class="fa fa-shopping-basket"></i><span class="cart-text">@nbrItems</span></a>
                                                    </li>
                                                }



                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/")
                            {
                                <div id="slider_wrapper">
                                    <div id="slider" class="clearfix">
                                        <div id="camera_wrap">

                                            <div data-src="/Content/images/slide08.jpg">
                                                <div class="camera_caption fadeIn">
                                                    <div class="txt1">Gifts</div>
                                                    <div class="txt2">for all occasions</div>
                                                    <div class="txt3">Find that special gift for that special person...</div>
                                                </div>
                                            </div>
                                            <div data-src="/Content/images/slide07.jpg">
                                                <div class="camera_caption fadeIn">
                                                    <div class="txt1">Collectibles</div>
                                                    <div class="txt2">for all occasions</div>
                                                    <div class="txt3">Find that unique collectible for that special person... </div>
                                                </div>
                                            </div>
                                            <div data-src="/Content/images/slide04.jpg">
                                                <div class="camera_caption fadeIn">
                                                    <div class="txt1">Flowers</div>
                                                    <div class="txt2">for all occasions</div>
                                                    <div class="txt3">Weddings, Funerals, Send Flowers...</div>
                                                </div>
                                            </div>
                                            <div data-src="/Content/images/slide06.jpg">
                                                <div class="camera_caption fadeIn">
                                                    <div class="txt1">Faith & Inspiration</div>
                                                    <div class="txt2">divine devotion</div>
                                                    <div class="txt3">Faith & Inspiration Makes A Perfect Gift...</div>
                                                </div>
                                            </div>
                                            <div data-src="/Content/images/slide11.jpg">
                                                <div class="camera_caption fadeIn">
                                                    <div class="txt1">Garden Decor</div>
                                                    <div class="txt2">decorate your garden</div>
                                                    <div class="txt3">Perfect garden gifts to spruce up the yard...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/Contact")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Contact</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Account/Register")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Register</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Account/Login")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Login</div>
                                </div>
                            }
                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Account/ForgotPassword")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Forgot Password</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/UsersAdmin")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Users Admin</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/RolesAdmin")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Roles Admin</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Categories")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Categories</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Colors")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Colors</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Departments")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Departments</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Employees")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Employees</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Images")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Images</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Products")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Products</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/ProductStatus")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Product Status</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Sizes")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Sizes</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Suppliers")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Edit Suppliers</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/About")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;About Us</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/Services")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Services</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath == "/Home/Products")
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Products</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Home/ProductsByCategory"))
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Products By Category</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Home/ProductsByMainCategory"))
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Products By Main Category</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Home/ProductDetail"))
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Products", "Home")">Products</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Products Detail</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("ShoppingCart"))
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Products", "Home")">Products</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Shopping Cart</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("SearchResults"))
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Search Results</div>
                                </div>
                            }

                            @if (HttpContext.Current.Request.Url.AbsolutePath.Contains("CheckOut"))
                            {
                                <div class="breadcrumbs1">
                                    <div class="breadcrumbs1_inner"><a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Check Out</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <div class="bot1">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="bot1_inner">
                            <div class="row">
                                <div class="span3">
                                    <div class="bot1_title">About Us</div>
                                    <ul class="ul0">
                                        <li><a href="@Url.Action("About", "Home")">Company Profile</a></li>
                                        <li><a href="@Url.Action("About", "Home")">News</a></li>
                                        <li><a href="@Url.Action("About", "Home")">Services</a></li>
                                        <li><a href="@Url.Action("About", "Home")">Staff</a></li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <div class="bot1_title">Design Ideas</div>
                                    <ul class="ul0">
                                        <li><a href="@Url.Action("Services", "Home")">Design Services</a></li>
                                        <li><a href="@Url.Action("Services", "Home")">Design Overview</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                                        <li><a href="@Url.Action("Products", "Home")">Products</a></li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <div class="bot1_title">Account</div>
                                    <ul class="ul0">
                                        <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                                        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                                        <li><a href="@Url.Action("Index", "Manage")">Manage My Account</a></li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <div class="bot1_title">Copyright</div>
                                    <footer><div class="copyright">Copyright © @DateTime.Now.Year Floral Gifts & Collectibles</div></footer>
                                    <div class="social_wrapper">
                                        <ul class="social clearfix">
                                            <li><a href="#"><img src="~/Content/images/social_ic1.png"></a></li>
                                            <li><a href="#"><img src="~/Content/images/social_ic2.png"></a></li>
                                            <li><a href="#"><img src="~/Content/images/social_ic3.png"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--jQuery DataTables-->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>