@model StoreFront.UI.MVC.ContactViewModel

@{
    ViewBag.Title = "Contact";
}
<script>
    $(document).ready(function () {
        //

    }); //
    $(window).load(function () {
        //

    }); //
</script>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">



                    <div class="row">
                        <div class="span9">

                            <h2>Contact Form @ViewBag.SuccessMessage</h2>

                            <div id="note"></div>
                            <div id="fields">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Your full name:</label>
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control span3", placeholder = "Your full name:" } })
                                                </div>
                                                <div class="controls">
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger contactFormErrorBold" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label" for="inputEmail">Your email:</label>
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control span3", placeholder = "Your email:" } })
                                                </div>
                                                <div class="controls">
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger contactFormErrorBold" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label" for="inputPhone">Phone number:</label>
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control span3", placeholder = "Phone number:" } })
                                                </div>
                                                <div class="controls">
                                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger contactFormErrorBold" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="span9">
                                            <div class="control-group">
                                                <label class="control-label" for="inputMessage">Message:</label>
                                                <div class="controls">
                                                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control span9", placeholder = "Message:", rows = "5" } })
                                                </div>
                                                <div class="controls">
                                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger contactFormErrorBold" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <input type="submit" class="button1" value="Send" style="width: 100px; height: 50px" />

                                }
                            </div>

                        </div>
                        <div class="span3">

                            <h2>Fresh Flowers</h2>

                            <div class="thumb3">
                                <div class="thumbnail clearfix">
                                    <figure><img src="~/Content/images/contacts01.jpg" alt=""></figure>
                                    <div class="caption">
                                        <h3>Order Fresh Flowers Today</h3>
                                        <p>
                                            Send that special someone a Fresh Flower arrangement today.  Same day 
                                            delivery availble.
                                        </p>
                                        <div class="line2"></div>
                                        <div class="text-right">
                                            <!-- Button to trigger modal -->
                                            <a href="#myModalContactRight" role="button" class="button3" data-toggle="modal">Read More</a>

                                            <!-- Modal -->
                                            <div id="myModalContactRight" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-header" style="background-color: #725583;">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h3 id="myModalLabel" style="font-size: 25px;">Fresh Flowers</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="font-size: 18px;">
                                                        Read More Information
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="button3" data-dismiss="modal" aria-hidden="true">Close</button>
                                                    @*<button class="btn btn-primary">Save changes</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="line1"></div>

                    <div class="row">
                        <div class="span9">
                            <div class="vl1">

                                <div class="pad_right20">

                                    <h1>Contact Address</h1>

                                    <figure class="google_map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.2750676441487!2d-94.6095852846477!3d38.96338667956045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e925e366ed0f%3A0x73aec4617abd2f03!2sCentriq%20Training!5e0!3m2!1sen!2sus!4v1631904541215!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                    </figure>

                                    <h3>Floral Gifts & Collectibles</h3>

                                    <p>
                                        1740 W 92 St,<br>
                                        Kansas City MO 64114.<br>
                                        Telephone: 1-800-123-1234<br>
                                        E-mail: <a href="#">mail@mail.com</a>
                                    </p>

                                </div>






                            </div>
                        </div>
                        <div class="span3">

                            <h2>Services</h2>

                            <ul class="ul1">
                                <li><a href="#">Quisque nullatibulum libero</a></li>
                                <li><a href="#">Scelerisque eget, malesuada at</a></li>
                                <li><a href="#">Vivamus eget niiam cursus leo</a></li>
                                <li><a href="#">Nulla facilisinean nec eros</a></li>
                                <li><a href="#">Vestibulum ante ipsum</a></li>
                                <li><a href="#">Quisque nullatibulum libero</a></li>
                                <li><a href="#">Scelerisque eget, malesuada at</a></li>
                                <li><a href="#">Vivamus eget niiam cursus leo</a></li>
                                <li><a href="#">Nulla facilisinean nec eros</a></li>
                                <li><a href="#">Vestibulum ante ipsum</a></li>
                            </ul>



                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>