@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Product Details";
}

<center><h2>@ViewBag.Title</h2></center>
<br />
<br />

@foreach (var item in Model)
{
<center>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@item.Image.Image1" alt="@item.Title cover image" style="height: 470px; width: 470px;" class="borderCurve boxShadow" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title detailTitleFontSize">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text detailDescriptionFontSize">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text detailPriceFontSize"><small class="text-muted">@Html.DisplayFor(modelItem => item.Price)</small></p>
                    <form>
                        <input type="button" value="Back to Previous Page"
                               onClick="javascript: history.go(-1)" class="button1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>



    @*<div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@item.Image.Image1" alt="@item.Title cover image" style="height: 470px; width: 470px;" class="borderCurve boxShadow" /><em></em>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card-body">
            @Html.DisplayFor(modelItem => item.Price)
            <br /><br />
            @Html.DisplayFor(modelItem => item.Title)
        </div>
    </div>*@
}
