@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    /**/

    ViewBag.Title = "Products";
}

<script>
    $(document).ready(function () {
        //

    }); //
    $(window).load(function () {
        // isotop
        var $container = $('#isotope-items'),
            $optionSet = $('#isotope-options'),
            $optionSets = $('#isotope-filters'),
            $optionLinks = $optionSets.find('a');
        $container.isotope({
            filter: '*',
            layoutMode: 'fitRows'
        });
        $optionLinks.click(function () {
            var $this = $(this);
            // don't proceed if already selected
            if ($this.hasClass('selected')) {
                return false;
            }
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');

            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector
            });
            return false;
        });
        $(window).on("resize", function (event) {
            $container.isotope('reLayout');
        });

        // touchTouch
        //$('.thumb-isotope .thumbnail a').touchTouch();

    }); //
</script>


<br />
<center class="categoriesFontSize textShadow">@ViewBag.Categories</center>




<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">

                    <div class="row">
                        <div class="span12">

                            @*<div id="isotope-options">
                                    <ul id="isotope-filters" class="clearfix">
                                        <li><a href="#" class="selected" data-filter="*">show all</a></li>
                                        <li><a href="#" data-filter=".isotope-filter1">Baby Items</a></li>
                                        <li><a href="#" data-filter=".isotope-filter2">Jackets</a></li>
                                        <li><a href="#" data-filter=".isotope-filter3">Shirts</a></li>
                                    </ul>
                                </div>*@

                            @if (Model.Count() == 0)
                            {
                                /**/
                            }
                            else
                            {
                                <ul class="thumbnails" id="isotope-items">
                                    @foreach (var item in Model)
                                    {


                                        <li class="span3 isotope-element isotope-filter1">

                                            <div class="thumb-isotope">
                                                <div class="thumbnail clearfix">
                                                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.ProductID })">
                                                        <figure>
                                                            <img src="@item.Image.Image1" alt="@item.Title cover image" style="height: 270px; width: 270px;" class="borderCurve boxShadow" /><em></em>
                                                        </figure>
                                                        <div class="caption borderCurve boxShadow" style="height: 100px; width: 241px;">

                                                            @Html.DisplayFor(modelItem => item.Price)
                                                            <br /><br />
                                                            @Html.DisplayFor(modelItem => item.Title)

                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </li>


                                    }
                                </ul>
                            }

                            @*<ul class="thumbnails" id="isotope-items">
                                    <li class="span3 isotope-element isotope-filter1">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery01.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter2">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery02.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter3">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery03.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter1">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery04.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter2">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery05.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter3">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery06.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter1">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery07.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter2">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery08.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter3">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery09.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter1">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery10.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter2">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery11.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3 isotope-element isotope-filter3">
                                        <div class="thumb-isotope">
                                            <div class="thumbnail clearfix">
                                                <a href="~/Content/images/blank.png">
                                                    <figure>
                                                        <img src="~/Content/images/gallery12.jpg" alt=""><em></em>
                                                    </figure>
                                                    <div class="caption">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>