@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <h2>@ViewBag.Title</h2>

                    <p>
                        @Html.ActionLink("Create New", "Create", null, new { @class = "button1 noUnderLine" })
                    </p>
                    <table class="table">
                        <tr>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Image.ImageID)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Stock)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Category.MainCategory)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", new { id = item.ProductID })">
                                        <img src="@item.Image.Image1" alt="@item.Title" style="max-height: 125px; width: auto;">
                                    </a>
                                </td>
                                <td class="adminFontSize" width="300px">
                                    <a href="@Url.Action("Details", new { id = item.ProductID })" class="noUnderLine">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </a>
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.Category.MainCategory)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "button1 noUnderLine pull-right" })
                                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "button1 noUnderLine pull-right" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "button1 noUnderLine pull-right" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>