@model IEnumerable<StoreFront.DATA.EF.Employee>

@{
    ViewBag.Title = "Employees";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content_inner">
                    <h2>@ViewBag.Title</h2>
                    <p>
                        @Html.ActionLink("Create New", "Create", null, new { @class = "button1 noUnderLine" })
                    </p>
                    <table class="table">
                        <tr>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>                            
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.HomePhone)
                            </th>                            
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th class="adminFontSize">
                                @Html.DisplayNameFor(model => model.Zip)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>                                
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.HomePhone)
                                </td>                                
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td class="adminFontSize">
                                    @Html.DisplayFor(modelItem => item.Zip)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "button1 noUnderLine pull-right" })
                                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }, new { @class = "button1 noUnderLine pull-right" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "button1 noUnderLine pull-right" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>